.App {
  padding: 50px;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

button {
  font-family: "Signika";
  color: var(--dark);
}

hr {
  border-color: var(--white);
  width: 450px;
  opacity: .15;
  margin-bottom: 50px;
}
h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 64px;
}

h4 {
  margin: 0;
  font-size: 20px;
  opacity: .5;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.help img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.game {
  width: 900px;
  height: 450px;
  background-color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 30px;
}

.game .left, .game .right {
  height: 450px;
  width: 450px;
  padding: 30px;
  box-sizing: border-box;
}

.game .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--white)
}

.game img, .game .number {
  margin: 15px;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
}

.game .number {
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 3px 6px rgba(0,0,0,.15);
  border: none;
  outline: none;
  font-size: 42px;
  font-weight: bold;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer .number {
  font-size: 64px;
  font-weight: bold;
}

.game-done {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-done img {
  width: 150px;
  height: 150px;
}

.game-done .message {
  font-size: 42px;
  margin: 10px 0 20px;
  color: var(--dark);
}

.game-done button {
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  border: none;
}
